body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-menu h3 {
  padding-top: 38 px;
  padding-bottom: 38 px;
  display: inline-block;
}

.header-menu nav {
  float: right;
}

.header-menu nav ul {
  list-style-type: none;
}

.header-menu nav li {
  float: left;
  padding-right: 15px;
  padding-left: 15px;

}

.header-menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.57);
  font-weight: 500;
  margin: initial;
}

h2 {
  font-size: 48px;
  line-height: 56px;
  color: rgba(0, 0, 0, 0.87);
}

.globe {
  position: relative;
  top: 5px;
  margin-top: -10px;
}

.author-box {
  border: 1px solid rgba(112, 112, 112, 0.18);
  height: 108px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.first-div {
  width: 300px;
  display: flex;
  align-items: center;
  padding-left: 35px;
}

.first-div span {
  padding-left: 14px;
}

.second-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.languageGlobe {
  margin-bottom: -7px;
  padding-right: 10px;
}

.third-div {
  display: flex;
  padding-top: 15px;
  font-size: 14px;
}

.rating-author {
  padding-right: 15px;
}

.rating-reviews {
  align-self: center;
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
  margin-bottom: 20px;
}


.location-row {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.location-part {
  width: 50%;
}

.locations h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: rgba(42, 38, 38, 0.87);
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottom-minus {
  margin-bottom: -5px;
}


.location-last {
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  padding-right: 30px;
}

.location-last img {
  margin-bottom: -5px;
}

.counter h4 {
  font-size: 20px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  color: rgba(42, 38, 38, 0.87);
}

.dec {
  background-color: white;
  border-color: 1px solid #0D47A1;
  border-radius: 50%;
  height: 42px;
  width: 42px;
}

