body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-menu h3 {
  padding-top: 38 px;
  padding-bottom: 38 px;
  display: inline-block;
}

.header-menu nav {
  float: right;
}

.header-menu nav ul {
  list-style-type: none;
}

.header-menu nav li {
  float: left;
  padding-right: 15px;
  padding-left: 15px;

}

.header-menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.57);
  font-weight: 500;
  margin: initial;
}

.globe {
  padding-right: 10px;
}